@model Referralcode.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "系統登入";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow border-0 rounded-lg mt-5">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h4 class="font-weight-light my-2">推薦碼管理系統 - 登入</h4>
                </div>
                <div class="card-body p-4">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3 fw-bold"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" id="inputUsername" placeholder="請輸入帳號" />
                            <label for="inputUsername">帳號</label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Pass" class="form-control" id="inputPassword" placeholder="請輸入密碼" type="password" />
                            <label for="inputPassword">密碼</label>
                            <span asp-validation-for="Pass" class="text-danger"></span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold" style="background-color: #0d2b54; border-color: #0d2b54;">登入系統</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}